[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-plugins"]
	path = packages/nomad-plugins
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-plugins.git	
[submodule "packages/pynxtools"]
	path = packages/pynxtools
	url = git@github.com:FAIRmat-NFDI/pynxtools.git
[submodule "packages/pynxtools-apm"]
	path = packages/pynxtools-apm
	url = git@github.com:FAIRmat-NFDI/pynxtools-apm.git
[submodule "packages/pynxtools-ellips"]
	path = packages/pynxtools-ellips
	url = git@github.com:FAIRmat-NFDI/pynxtools-ellips.git
[submodule "packages/pynxtools-em"]
	path = packages/pynxtools-em
	url = git@github.com:FAIRmat-NFDI/pynxtools-em.git
[submodule "packages/pynxtools-igor"]
	path = packages/pynxtools-igor
	url = git@github.com:FAIRmat-NFDI/pynxtools-igor.git
[submodule "packages/pynxtools-mpes"]
	path = packages/pynxtools-mpes
	url = git@github.com:FAIRmat-NFDI/pynxtools-mpes.git
[submodule "packages/pynxtools-raman"]
	path = packages/pynxtools-raman
	url = git@github.com:FAIRmat-NFDI/pynxtools-raman.git
[submodule "packages/pynxtools-spm"]
	path = packages/pynxtools-spm
	url = git@github.com:FAIRmat-NFDI/pynxtools-spm.git
[submodule "packages/pynxtools-xps"]
	path = packages/pynxtools-xps
	url = git@github.com:FAIRmat-NFDI/pynxtools-xps.git
[submodule "packages/pynxtools-xrd"]
	path = packages/pynxtools-xrd
	url = git@github.com:FAIRmat-NFDI/pynxtools-xrd.git
[submodule "packages/pynxtools-igor"]
	path = packages/pynxtools-igor
	url = git@github.com:FAIRmat-NFDI/pynxtools-igor.git
[submodule "packages/pynxtools-spm"]
	path = packages/pynxtools-spm
	url = https://github.com/FAIRmat-NFDI/pynxtools-spm.git
[submodule "docs"]
	path = docs
	url = git@github.com:FAIRmat-NFDI/nomad-docs.git
[submodule "packages/nomad-tajine-plugin"]
	path = packages/nomad-tajine-plugin
	url = https://github.com/FAIRmat-NFDI/nomad-tajine-plugin.git
